html {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .2px;
  color: #121C4F; }

nav {
  box-shadow: 0 1px 8px 0 rgba(18, 28, 79, 0.08); }

p {
  font-size: 18px;
  line-height: 28px;
  color: #121C4F;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif; }
  p a {
    color: #3452f4; }

h1 {
  font-family: "din-2014-narrow", sans-serif;
  font-size: 45px;
  font-weight: 300; }

h2 {
  font-family: "din-2014-narrow", sans-serif;
  font-size: 35px;
  color: #121C4F; }

h3 {
  color: #031B92;
  font-family: "din-2014-narrow", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.88px;
  line-height: 43px; }

h4 {
  font-weight: 400;
  color: #121C4F;
  font-size: 30px;
  letter-spacing: 0.31px;
  font-family: "din-2014-narrow", sans-serif;
  margin: 4vh 0 1vh; }

h5 {
  font-size: 25px;
  font-weight: 500;
  color: #121C4F;
  font-family: "din-2014-narrow", sans-serif; }

section {
  padding: 2vh 0; }

@media only screen and (min-width: 768px) {
  .p75 {
    max-width: 75%; } }

/* BTNS */
.red-btn {
  color: #FF4141;
  font-family: "proxima-nova", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #FF4141;
  border-radius: 3px;
  padding: 5px 9px;
  width: max-content;
  padding-right: 25px;
  margin-left: 5vw;
  margin-top: 5px;
  text-decoration: none;
  opacity: 1;
  background-position: 94% 45% !important;
  background: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/dl-icon.png") no-repeat;
  background-size: 12px; }
  .red-btn:hover {
    color: #ffffff;
    background-color: #FF4141;
    text-decoration: none;
    opacity: 1;
    background: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/dl-icon-hover.png") #FF4141 no-repeat;
    background-size: 12px; }

/* Page Nav */
.page-nav-divider {
  box-shadow: 0 -1px 8px 0 rgba(18, 28, 79, 0.08); }

.page-nav {
  padding: 2.5vw 0;
  margin-bottom: 0; }
  .page-nav p {
    color: #121C4F;
    font-family: "din-2014-narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.84px;
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
    margin: 0px 0 5px; }
  .page-nav h5 {
    color: #FF4141;
    font-size: 22px;
    font-family: "din-2014", sans-serif;
    font-weight: 300;
    margin-top: 0px; }
  .page-nav .previous .icon {
    position: relative;
    margin-left: -30px;
    top: 67px;
    color: #FF4141;
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_backward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-top: -25px; }
    .page-nav .previous .icon:hover {
      background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward-hover.svg"); }
  .page-nav .next .icon {
    position: relative;
    margin-right: -30px;
    top: 67px;
    color: #FF4141;
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-top: -25px; }
    .page-nav .next .icon:hover {
      background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward-hover.svg"); }
  .page-nav a:hover h5 {
    color: #031B92 !important;
    text-decoration: none; }
  .page-nav a:hover {
    color: #031B92 !important;
    text-decoration: none; }
  .page-nav .next:hover {
    color: #3452f4 !important;
    text-decoration: none; }
  .page-nav .search-icon-container .search-icon {
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-bottom: -5px; }
  .page-nav .text-left {
    padding-left: 45px; }
  .page-nav .text-right {
    padding-right: 45px; }

/* Nav */
.navbar {
  background-color: #ffffff; }
  .navbar .navbar-brand img {
    width: 140px; }

.navbar-light .navbar-nav .nav-item {
  padding-top: 5px; }

.navbar-light .navbar-nav .nav-link {
  color: #031B92;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 14px;
  letter-spacing: 0.35px;
  opacity: 0.75;
  font-family: "proxima-nova", sans-serif;
  display: inline; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #FF4141; }

.navbar-light .navbar-nav .active {
  color: #FF4141 !important;
  -moz-box-shadow: inset 0 -2px 0px 0px #FF4141;
  -webkit-box-shadow: inset 0 -2px 0px 0px #FF4141;
  box-shadow: inset 0 -2px 0px 0px #FF4141;
  font-weight: 500;
  padding-bottom: 19px; }

@media only screen and (max-width: 767px) {
  .navbar-light .navbar-nav .active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; } }

.brand-logo img {
  width: 115px; }

.logo-text {
  color: #121C4F;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-family: "din-2014-narrow", sans-serif;
  padding: 18px;
  padding-left: 25px;
  vertical-align: -webkit-baseline-middle;
  text-transform: uppercase; }

@media only screen and (max-width: 991px) {
  .logo-text {
    display: none; }
  nav ul a {
    color: #121C4F;
    font-size: 1.4vw;
    letter-spacing: 0.35px;
    opacity: 0.75;
    font-family: "proxima-nova", sans-serif, sans-serif; }
  .red-btn {
    font-size: 1.4vw;
    padding: 5px;
    padding-right: 22px; }
  .navbar-nav {
    padding-top: 10px; } }

@media only screen and (max-width: 767px) {
  .logo-text {
    display: none; }
  .red-btn {
    display: none; }
  nav ul a {
    color: #121C4F;
    font-size: 4vw;
    letter-spacing: 0.35px;
    opacity: 1;
    font-family: "proxima-nova", sans-serif, sans-serif; } }

.good {
  color: #3452f4;
  font-size: 20px;
  font-family: "din-2014", sans-serif;
  font-weight: 500; }

.bad {
  color: #FF4141;
  font-size: 20px;
  font-family: "din-2014", sans-serif;
  font-weight: 500; }

/* Footer */
.page-footer {
  padding: 30px 0;
  position: relative;
  bottom: 0px;
  width: 100%; }

.footer-copyright {
  font-family: "din-2014", sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 15px;
  opacity: 0.8;
  font-weight: 100;
  color: #ffffff; }
  .footer-copyright img {
    width: 140px; }

@media only screen and (min-width: 768px) {
  .footer-copyright .float-right {
    padding-top: 15px; } }

@media only screen and (max-width: 767px) {
  .footer-copyright .brand-logo img {
    margin-top: -25px;
    height: 70px; } }

.hero {
  padding: 13vh 0; }
  .hero h1 {
    color: #121C4F;
    font-family: "din-2014-narrow", sans-serif;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 15px;
    line-height: 70px;
    text-transform: uppercase; }
    .hero h1 strong {
      display: block;
      font-weight: 500; }
  .hero p {
    font-family: "din-2014", sans-serif, sans-serif;
    color: #121C4F;
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
    padding-left: 0px;
    font-weight: 300;
    max-width: 70%; }

.overview {
  padding: 4vw 15px 4vw; }
  .overview h3 {
    padding: 10px 0px; }

.hero-home {
  background: url(//s3.amazonaws.com/valassis-digital-2018/wp-content/uploads/sites/19/2018/07/about-bottom-cta-bg.png) #F8F8F9 no-repeat;
  background-position: bottom right; }
  .hero-home section p {
    max-width: 70%; }

.hero-page {
  background: url(https://s3.amazonaws.com/valassis-digital-2018/styleguide/hero-bg.png) #F8F8F9 no-repeat;
  background-size: cover; }

/* colors */
.navy {
  background-color: #121C4F; }

.poppy {
  background-color: #FF4141; }

.bright-blue {
  background-color: #3452f4; }

.text-navy-bg {
  background-color: #031B92; }

.pale-yellow {
  background-color: #fed189; }

.navy-text {
  color: #121C4F; }

.poppy-text {
  color: #FF4141; }

.bright-blue-text {
  color: #3452f4; }

.rect {
  width: 100%;
  min-height: 100px;
  display: block;
  cursor: initial;
  letter-spacing: 0px; }

.color-type {
  margin-left: 8.3%;
  margin-top: 34px; }
  .color-type span {
    font-family: "proxima-nova", sans-serif;
    opacity: .7;
    color: #121C4F;
    font-size: 11px; }
  .color-type p {
    color: #121C4F;
    font-size: 18px;
    font-weight: 500; }

.logos h4 {
  margin: 1vw 0 1.1vw; }

.logos .subtext {
  font-family: "proxima-nova", sans-serif;
  opacity: 0.5;
  color: #121C4F;
  font-style: italic;
  padding: 1vw 0; }

.logos .logo-block {
  margin-bottom: 4vw;
  margin-top: 3vw; }
  .logos .logo-block .col-lg-4 img {
    max-width: 300px; }
  .logos .logo-block p {
    font-weight: 500;
    color: #121C4F;
    opacity: 0.8;
    font-size: 16px; }
  .logos .logo-block .support-text {
    float: left;
    margin-right: 70px;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    margin-top: 25px; }

.logos .ml3 {
  margin-left: 3%; }

.goodBad img {
  margin-top: -5px; }

.typography .type-block {
  margin: 5vw 0; }
  .typography .type-block h2 {
    font-size: 50px;
    color: #121C4F; }
  .typography .type-block h5 {
    color: #121C4F;
    font-size: 20px;
    font-weight: 400; }

.typography .proxima {
  font-family: "proxima-nova", sans-serif; }

.typography .din {
  font-family: "din-2014", sans-serif; }

.typography .din-narrow {
  font-family: "din-2014-narrow", sans-serif; }

.typography .tints .tinted-do {
  border: 1px dashed #3452f4;
  color: #888DA7;
  padding: 6px 14px;
  max-width: 350px; }

.typography .tints .tinted-dont-container {
  background: rgba(3, 27, 146, 0.04);
  max-width: 370px;
  padding: 0px 10px 1px; }
  .typography .tints .tinted-dont-container h5 {
    padding-top: 10px; }

.typography .tints .tinted-dont {
  border: 1px dashed #FF4141;
  color: #888DA7;
  padding: 6px 14px;
  max-width: 350px; }

.typography .tints h5 {
  margin-top: 4vw;
  padding-left: 20px; }

.typography .treatment-chart {
  margin-top: 35px; }

.typography .numbers ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }
  .typography .numbers ol li {
    margin-bottom: 25px;
    padding-left: 10px;
    counter-increment: my-awesome-counter;
    display: flex;
    font-family: "proxima-nova", sans-serif;
    color: #121C4F;
    font-size: 16px;
    font-weight: 400; }
    .typography .numbers ol li:before {
      content: counter(my-awesome-counter) " ";
      color: #ffffff;
      font-weight: 600;
      font-size: 14px;
      position: relative;
      --size: 22px;
      left: -25px;
      line-height: var(--size);
      padding: 1px 10px 1px 8px;
      width: var(--size);
      height: var(--size);
      top: 0;
      background: #3452f4;
      border-radius: 50%;
      text-align: center;
      font-family: "din-2014-narrow", sans-serif; }
    .typography .numbers ol li .demi {
      font-size: 18px; }
    .typography .numbers ol li .sixteen {
      font-size: 16px; }
    .typography .numbers ol li .list-content {
      display: inline-block;
      margin-top: -5px; }

.typography .numbers .second-level-list {
  list-style-type: none;
  margin-top: 25px; }
  .typography .numbers .second-level-list li {
    margin-bottom: 25px;
    padding-left: 10px;
    counter-increment: none;
    display: block; }
    .typography .numbers .second-level-list li:before {
      list-style-type: none;
      display: none; }

.demi {
  font-weight: 600; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .tint-height {
    min-height: 58px; } }

.imagery .photo-block {
  margin-top: 45px;
  margin-bottom: 45px; }

.imagery .attributes {
  margin-top: 45px;
  margin-bottom: 55px; }
  .imagery .attributes div {
    line-height: 25px;
    color: #031B92;
    font-family: "din-2014-narrow", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 51px;
    font-weight: 400; }

.imagery .comparison .goodBad {
  margin-bottom: 20px; }

.imagery .comparison h4 {
  color: #121C4F;
  font-size: 25px;
  margin-top: 40px; }

.imagery .comparison .photo-block {
  margin-bottom: 7vw; }

@media only screen and (max-width: 767px) {
  .imagery .photo-block img.img-fluid {
    margin-bottom: 45px; } }

.iconography .icon-group img {
  max-height: 40px;
  max-width: 40px;
  vertical-align: middle; }

.iconography .icon-group .col-md-1 {
  padding: 40px 15px; }

.iconography .icon-group h5 {
  margin: 130px 0px -10px;
  font-weight: 300; }

.iconography .solutions {
  margin: 60px 0px 130px; }
  .iconography .solutions .attr {
    margin-bottom: 3vw; }
    .iconography .solutions .attr img {
      width: 48px;
      margin-right: 35px; }
    .iconography .solutions .attr span {
      font-weight: 400;
      font-family: "proxima-nova", sans-serif;
      font-weight: 18px;
      color: #121C4F;
      letter-spacing: 0.5px; }
  .iconography .solutions .sol {
    margin-bottom: 3vw; }
    .iconography .solutions .sol img {
      width: 64px;
      margin-right: 35px; }
    .iconography .solutions .sol span {
      font-weight: 400;
      font-family: "proxima-nova", sans-serif;
      font-weight: 18px;
      color: #121C4F;
      letter-spacing: 0.5px; }

.iconography .solutions-icons h5 {
  margin: 100px 0px -10px;
  font-weight: 300; }

.iconography .solutions-icons .solutions {
  margin: 50px 0px 90px; }

@media only screen and (min-width: 768px) {
  .iconography .icon-group .col-md-1 {
    -ms-flex: 10%;
    flex: 10%;
    max-width: 10%; } }
