<footer class="page-footer navy">
    <div class="footer-copyright">
        <div class="container">
        <a class="back" href="https://Valassis.com">VALASSIS.COM</a>
        <div class="float-right">© <script>
            document.write(new Date().getFullYear())
            </script> Valassis. All rights reserved.</div>
        </div>
    </div>
</footer>
