::selection {
  background: #fed189; }

html {
  font-family: "proxima-nova", sans-serif;
  letter-spacing: .2px;
  color: #121C4F; }

nav {
  box-shadow: 0 1px 8px 0 rgba(18, 28, 79, 0.08); }

p {
  font-size: 18px;
  line-height: 28px;
  color: #121C4F;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif; }
  p a {
    color: #3452f4; }

h1 {
  font-family: "din-2014-narrow", sans-serif;
  font-size: 45px;
  font-weight: 300; }

h2 {
  font-family: "din-2014-narrow", sans-serif;
  font-size: 35px;
  color: #121C4F; }

h3 {
  color: #031B92;
  font-family: "din-2014-narrow", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.88px;
  line-height: 43px; }

h4 {
  font-weight: 400;
  color: #121C4F;
  font-size: 30px;
  letter-spacing: 0.31px;
  font-family: "din-2014-narrow", sans-serif;
  margin: 4vh 0 1vh; }

h5 {
  font-size: 25px;
  font-weight: 500;
  color: #121C4F;
  font-family: "din-2014-narrow", sans-serif; }

section {
  padding: 2vh 0; }

@media only screen and (min-width: 768px) {
  .p75 {
    max-width: 75%; } }

/* BTNS */
.red-btn {
  color: #FF4141;
  font-family: "proxima-nova", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #FF4141;
  border-radius: 3px;
  padding: 5px 9px;
  width: max-content;
  padding-right: 25px;
  margin-left: 5vw;
  margin-top: 5px;
  text-decoration: none;
  opacity: 1;
  background-position: 94% 45% !important;
  background: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/dl-icon.png") no-repeat;
  background-size: 12px; }
  .red-btn:hover {
    color: #ffffff;
    background-color: #FF4141;
    text-decoration: none;
    opacity: 1;
    background: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/dl-icon-hover.png") #FF4141 no-repeat;
    background-size: 12px; }

.red-btn-export {
  color: #FF4141;
  font-family: "proxima-nova", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #FF4141;
  border-radius: 3px;
  padding: 5px 9px;
  width: max-content;
  margin-left: 5vw;
  margin-top: 5px;
  text-decoration: none;
  opacity: 1; }
  .red-btn-export:hover {
    color: #ffffff;
    background-color: #FF4141;
    text-decoration: none;
    opacity: 1; }

.navbar .red-btn {
  background: none;
  padding-right: 8px; }
  .navbar .red-btn:hover {
    color: #ffffff;
    background-color: #FF4141;
    text-decoration: none;
    opacity: 1;
    background-size: 12px; }

.dropdown-menu {
  /*left: 30px;*/
  width: 220px; }
  .dropdown-menu .dropdown-item {
    font-size: 13px;
    display: inline-block;
    color: #121C4F;
    font-family: "proxima-nova", sans-serif;
    padding: 5px 10px;
    background-position: 94% 45% !important;
    background: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/dl-icon.png") no-repeat;
    background-size: 12px; }
    .dropdown-menu .dropdown-item:hover {
      background-color: #e8e8e8; }

/* Page Nav */
.page-nav-divider {
  box-shadow: 0 -1px 8px 0 rgba(18, 28, 79, 0.08); }

.page-nav {
  padding: 2.5vw 0;
  margin-bottom: 0; }
  .page-nav p {
    color: #121C4F;
    font-family: "din-2014-narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.84px;
    font-size: 18px;
    font-weight: 600;
    line-height: 31px;
    margin: 0px 0 5px; }
  .page-nav h5 {
    color: #FF4141;
    font-size: 22px;
    font-family: "din-2014", sans-serif;
    font-weight: 300;
    margin-top: 0px; }
  .page-nav .previous .icon {
    position: relative;
    margin-left: -30px;
    top: 67px;
    color: #FF4141;
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_backward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-top: -25px; }
  .page-nav .next .icon {
    position: relative;
    margin-right: -30px;
    top: 67px;
    color: #FF4141;
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-top: -25px; }
  .page-nav .next-hover {
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward-hover.svg") !important; }
  .page-nav .previous-hover {
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_backward-hover.svg") !important; }
  .page-nav a:hover h5 {
    color: #031B92 !important;
    text-decoration: none; }
  .page-nav a:hover {
    color: #031B92 !important;
    text-decoration: none; }
  .page-nav .search-icon-container .search-icon {
    width: 16px;
    height: 16px;
    background-image: url("https://s3.amazonaws.com/valassis-digital-2018/styleguide/arrow_forward.svg");
    display: block;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-bottom: -5px; }
  .page-nav .text-left {
    padding-left: 45px; }
  .page-nav .text-right {
    padding-right: 45px; }

/* Nav */
.navbar {
  background-color: #ffffff; }
  .navbar .navbar-brand img {
    width: 95px; }

.navbar-light .navbar-nav .nav-item {
  padding-top: 5px; }

.navbar-light .navbar-nav .nav-link {
  color: #121C4F;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 14px;
  letter-spacing: 0.35px;
  opacity: 0.75;
  font-family: "proxima-nova", sans-serif;
  display: inline; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #FF4141; }

.navbar-light .navbar-nav .active {
  color: #FF4141 !important;
  -moz-box-shadow: inset 0 -2px 0px 0px #FF4141;
  -webkit-box-shadow: inset 0 -2px 0px 0px #FF4141;
  box-shadow: inset 0 -2px 0px 0px #FF4141;
  font-weight: 500;
  padding-bottom: 17px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-light .navbar-nav .active {
    padding-bottom: 12px; } }

@media only screen and (max-width: 767px) {
  .navbar-light .navbar-nav .active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; } }

.brand-logo img {
  width: 115px; }

.logo-text {
  color: #121C4F;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-family: "din-2014-narrow", sans-serif;
  padding: 18px;
  padding-left: 25px;
  vertical-align: -webkit-baseline-middle;
  text-transform: uppercase; }

.export-tool img#fromcanvas {
  display: none; }

#svgPreview {
  overflow: auto; }

.hidden {
  display: none !important; }

@media only screen and (max-width: 991px) {
  .logo-text {
    display: none; }
  nav ul a {
    color: #121C4F;
    font-size: 1.4vw;
    letter-spacing: 0.35px;
    opacity: 0.75;
    font-family: "proxima-nova", sans-serif, sans-serif; }
  .red-btn {
    font-size: 1.4vw;
    padding: 5px;
    padding-right: 22px; }
  .navbar-nav {
    padding-top: 10px; } }

@media only screen and (max-width: 767px) {
  .logo-text {
    display: none; }
  .red-btn {
    display: none; }
  nav ul a {
    color: #121C4F;
    font-size: 4vw;
    letter-spacing: 0.35px;
    opacity: 1;
    font-family: "proxima-nova", sans-serif, sans-serif; } }

.good {
  color: #3452f4;
  font-size: 20px;
  font-family: "din-2014", sans-serif;
  font-weight: 500; }

.bad {
  color: #FF4141;
  font-size: 20px;
  font-family: "din-2014", sans-serif;
  font-weight: 500; }

.goodBad {
  margin-top: 20px; }

/* Footer */
.page-footer {
  padding: 30px 0;
  position: relative;
  bottom: 0px;
  width: 100%; }

.footer-copyright {
  font-family: "din-2014", sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 15px;
  opacity: 0.8;
  font-weight: 100;
  color: #ffffff; }
  .footer-copyright img {
    width: 90px; }

@media only screen and (min-width: 768px) {
  .footer-copyright .float-right {
    padding-top: 15px; } }

@media only screen and (max-width: 767px) {
  .footer-copyright .brand-logo img {
    margin-top: -25px;
    height: 70px; } }
