.iconography {
	.icon-group {
		img {
			max-height: 40px;
			max-width: 40px;
			vertical-align: middle;

		}

		.col-md-1 {
			padding: 40px 15px;
		}

		h5 {
			margin: 130px 0px -10px;
			font-weight: 300;
		}
	}


	.solutions {
		margin: 60px 0px 130px;

		.attr {
			margin-bottom: 3vw;

			img {
				width: 48px;
				margin-right: 35px;
			}

			span {
				font-weight: 400;
				font-family: $body-text;
				font-weight: 18px;
				color: $navy;
				letter-spacing: 0.5px;
			}
		}

		.sol {
			margin-bottom: 3vw;

			img {
				width: 64px;
				margin-right: 35px;
			}

			span {
				font-weight: 400;
				font-family: $body-text;
				font-weight: 18px;
				color: $navy;
				letter-spacing: 0.5px;
			}
		}
    }
    
    .solutions-icons {
		h5 {
			margin: 100px 0px -10px;
			font-weight: 300;
        }
        .solutions {
            margin: 50px 0px 90px;
        }
	}
}

@media only screen and (min-width:768px) {
	.iconography {
		.icon-group {
			.col-md-1 {
				-ms-flex: 10%;
				flex: 10%;
				max-width: 10%;
			}
		}
	}
}
