.logos {
    h4 {
        margin:1vw 0 1.1vw;
    }
    p {
        max-width:800px;
    }
    .subtext {
        font-family: $body-text;
        opacity:0.5;
        color:$navy;
        font-style:italic;
        padding:1vw 0;
    
    }

    .old-logo {
        background-color: #F8F8F9;
        padding:75px;
        margin: 50px 0px;

        p {
            margin-top:10px;
        }
        .goodBad {
            margin-top: 0px; 
        }
    }

    .logo-block { 
        margin-bottom:5vw;
        margin-top:3vw;
        .logotype {
            img {
                height:50px !important;
            }
        }
        .variations {
            img {
                height:50px !important;
            }
        }

        .variations2 {
            img {
                height:95px !important;
            }
        }

        .clear-space {
            img {
                height:105px !important;
            }
        }

        p {
            font-weight:500;
            color:$navy;
            opacity:0.8;
            font-size:16px;
            max-width:800px;
        }
        .support-text {
            margin-right:70px;
            font-family:$body-text;
            font-size:16px;

        }
        .digital {
            margin-top:45px;
        }
    }
    .ml3 {
        margin-left:3%;
    }

}




.goodBad {
    img {
        margin-top:-5px;
    }
}

