//colors
$poppy: #FF4141;
$navy:#121C4F;
$bright-blue: #3452f4;
$text-navy: #031B92;
$pale-yellow: #fed189;

//fonts
$body-text: 'proxima-nova', sans-serif;
$header: 'din-2014', sans-serif;
$header-narrow: 'din-2014-narrow', sans-serif;
$demi: 600;
