<!-- index.njk -->
{% set title = '' %}
{% set activePage = 'home' %}
{% extends "templates/layout.njk" %}

{% block content %}

    {% include 'templates/partials/header.njk' %}

    <section class="hero hero-home no-pad-bot" id="index-banner">
        <div class="container">
        <h1 class="header">Valassis <strong>Brand Style Guide</strong></h1>
        <p>This style guide outlines the Valassis and Valassis Digital brand identity. Copywriters, designers, product
            and corporate marketing, and outside creative vendors should follow these guidelines to create consistency
            across all Valassis assets and build brand recognition among our customers.</p>
        </div>
    </section>

    <div class="container overview">
        <div class="row">
        <div class="col-md-9">
            <h3>Overview</h3>
            <p>This is the definitive resource for Valassis styles and best practices. We encourage
            you to reference the Valassis Style Guide when producing collateral for internal or external use. If you
            need design assistance or guidance contact <a href="mailto:dl_visual@valassis.com">dl_visual@valassis.com.</a></p>
            <br /><br />
        </div>
        </div>
    </div>
    <div class="page-nav-divider">
        <div class="container">
        <div class="row page-nav">
            <div class="text-right ml-auto next browser-default">
            <a href="logo.html">
                <div class="icon arrow-forward float-right"></div>
                <p>Next</p>
                <h5>Logo</h5>
            </a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
